#cards {
  text-align: center;
}

.card {
  font-size: 24px;
  width: 40%;
  height: 200px;
  background-color: yellow;
  display: inline-block;
  margin: 10px 10px;
  overflow: hidden;
  border: 10px;
}


@media(max-width: 600px) {
  .card {
    margin: 10 auto;
    width: 80%;
    display: block;
  }
}
